body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    padding: 20px;
    font-size: 25px;
    border-radius: 25px;
    background-color: #808080;
    border: 1px solid black;
}